@import url("https://fonts.googleapis.com/css?family=Lato:400,700|Nunito:400,700");

$turquoise: #44ddd0;
$green: #27ad71;

$light-green: #45f69a;
$light: #f8f8f8;

$dark-green: rgb(0, 100, 100);

$family-sans-serif: "Nunito", sans-serif;
$primary: $green;

$link: $light-green;

$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

html {
  background: linear-gradient(to right top, $turquoise, $green);
}

html,
body {
  height: 100%;
}
