@import url("https://fonts.googleapis.com/css?family=Lato:400,700|Nunito:400,700");

$turquoise: #44ddd0;
$green: #2bb979;

$light-green: #45f69a;
$light: #f8f8f8;

$dark-green: rgb(0, 100, 100);

$family-sans-serif: "Nunito", sans-serif;
$primary: $green;

$link: $light-green;

$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

html {
  background: linear-gradient(to right top, $turquoise, $green);
}

html,
body {
  height: 100%;
}

.centered-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.modal-box {
  min-height: 200px;
  width: 100%;
  max-width: 600px;
  background: white;
  padding: 35px;
  border-radius: 10px;
}
